python-dotenv
groq
Appopener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
googlesearch-python
selenium
mtranslate
pygame
gtts
PyQt5
webdriver-manager
torch
diffusers
transformers
accelerate
pvporcupine 
pyaudio
spotipy
pyttsx3
pycaw